/*@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

body{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* IMPORTANTE NO MODIFICAR, son para los formularios, son globales */

form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: left;
}

input,
select,
textarea {
  padding: 0.5rem 0.75rem;
  border: 1px solid #c1c1c1;
  border-radius: 0.5rem;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


input:focus,
select:focus,
textarea:focus {
  outline: none;                        
  border-color: #4629ba9d;                
  box-shadow: 0 0 0 2px #5d3fd7c9;        
}


.calendar-container {
  display: flex;
  background-color: #f3f4f6; 
  height: 100vh;
  overflow: hidden;        
}

.background-image-container {
  position: relative;
  z-index: 0;
}

.background-image-container::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('/public/cucei-logo.png');
  background-size: 40rem;              
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
  user-select: none;
}

/* Main content */
.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem; 
  overflow: hidden;        
  background-color: #e3e9f6;
}

.main-content2 {
  display: grid;
  grid-template-columns: 1fr;            
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  margin-top: 8rem;                      
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .main-content2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main-content2 {
    grid-template-columns: 2fr 1fr 1fr;   
  }
}


/* Select content */
.select-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}


/* Navbar */
.navbar {
  width: 100%;
  background: linear-gradient(to right, #612937, #351b51, #0d1c3b, #0f2147, #132654, #1c3a7d, #254da7);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.55rem 0.375rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #8abbee; 
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  width: 24px;
  height: 24px;
  stroke: #4b5563;
}

.navbar-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 2rem; 
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15); 
}

.nav-link.active {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.25);;
  /*border-bottom: 2px solid #1e293b;*/
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  font-size: 1rem;
  outline: none;
  width: 15rem;
  transition: border-color 0.2s ease;
  margin-top: -0.1rem;
}

.search-input:focus {
  border-color: #4629ba;
  box-shadow: 0 0 0 3px #5231d6;
}

.search-button {
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: #1e3a8a;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #506d9d;
}

.search-icon {
  width: 24px;
  height: 24px;
  filter: invert(100%);
}

.navbar-right {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.icon {
  width: 2rem;         
  height: 2rem;        
  color: #ffffff;      
}

/* Menú hamburguesa */
.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  gap: 1rem;
  border-top: 1px solid #111827;
  z-index: 1000;
  align-items: flex-start; 
}

.mobile-menu .nav-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  border-radius: 0.375rem; 
}


.logout-container {
  display: flex;
  align-self: flex-end; 
  margin-top: 0.5rem;   
}

.menu-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-search-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

/* Responsive */
@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .navbar-center {
    display: none;
  }

  .navbar-right {
    display: none;
  }
}

/*------------------ Contenedor de la tabla ------------------*/
.table-container {
  overflow: auto;
  /*width: 100%;*/
  /*height: 100%;*/
  padding: 0rem 0rem;
}

/*------------------ Tabla base ------------------*/
.schedule-table {
  border-top: 1px solid #d1d5db;
  border: 1px solid #d1d5db;
  background-color: white;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  border-collapse:separate;
  table-layout: fixed;
  border-spacing: 0px;
}
/*------------------ Cabecera fija vertical ------------------*/
.schedule-table thead th {
  position: sticky;
  top: 0;
  z-index: 4; 
  background-color: #f3f4f6;
}

.schedule-table th:first-child,
.schedule-table td:first-child {
  position: sticky;
  left: 0;
  z-index: 3; 
  background-color: #f3f4f6;
  border-right: 1px solid #d1d5db;

  /*height: 8rem;*/
}

/* Celdas no horarias (salones) */
.schedule-table th:not(:first-child),
.schedule-table td:not(:first-child) { 
  min-width: 18rem;
  max-width: 18rem;
  
  /*height: 8rem;*/
}

/*.schedule-table tr {
  height: 8rem;
}*/

.schedule-table thead th:first-child { 
  position:sticky;
}


.schedule-table th,
.schedule-table td {
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
}

/*------------------ Cabecera ------------------*/
.table-header {
  background-color: #f3f4f6;
}

/*------------------ Celdas ------------------*/
.table-cell {
  border: 1px solid #d1d5db;
  padding: 0rem 1.4rem;
  text-align: center;

  height: 10rem;
}

.schedule-table thead tr:first-child th { 
  height: 6rem; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.schedule-table th:first-child,
.schedule-table td:first-child { 
  width: 9rem !important;
  min-width: 9rem !important;
  max-width: 9rem !important;
  font-weight: bold;
  background-color: #f3f4f6;
}

/*------------------ Estados de celda ------------------*/
.occupied-cell {
  background-color: var(--occupied-color, #ffcccb);
  color: black;
  font-weight: bold;
  text-align: center;
  white-space: normal !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.empty-cell {
  background-color: white;
  color: black;
}

.reserved-cell {
  font-style: italic;
}

/*------------------ Interacción ------------------*/
.table-row:hover {
  background-color: #f1f5f9;
}


/*---------------------------------------------------------------------------*/
.professor-name {
  color: #ffffff; 
  font-size: 1rem;
  font-weight: 650;
}

.course-name {
  color: #dcf70b;
  font-style: italic;
  font-weight: 600;

}

.course-code {
  color: #dcf70b; 
}

.course-students {
  color: #dcf70b;
  font-style: italic;
  
}

.course-nrc {
  color: #dcf70b; 
}

.course-date{
  color: #dcf70b; 
}

/*---------------------------------------------------------------------*/
.w-64 {
  z-index: 9;
}
/*-----------------------------------------------------------------------------------*/

.reserve-button {
  background-color: #4629ba;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
  font-weight: bold;
}

.reserve-button:hover {
  background-color: #7157da;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap; 
}

.select-container select {
  appearance: none;
  padding: 0.6rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 0.6rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  padding-right: 2.5rem;
  cursor: pointer;
}



/* Colores personalizados */
.select-container .cycle-select {
  font-weight: 500;
  color:black;
  background-color: #f4e1e5;
  border-color: #ce3a5f;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23cc3366' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
}

.select-container .cycle-select:hover {
  background-color: #e8b6c4; 
  border-color: #c54968;
}

.select-container .building-select {
  font-weight: 500;
  color:black;
  background-color: #e6ddeb;
  border-color: #a35bd0;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg fill='purple' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
}

.select-container .building-select:hover {
  background-color: #cfb3e1; 
  border-color: #c28ce4;     
}

.building-select::disabled {
  cursor: not-allowed;
}

.select-container .day-select {
  font-weight: 500;
  color:black;
  background-color: #eae8f5;
  border-color: #5d4aac;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-image: url("data:image/svg+xml,%3Csvg fill='blue' height='16' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
}

.select-container .day-select:hover {
  background-color: #cac4e7; 
  border-color: #7965c9;     
}

.select-container span {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

/*-----------------------------------------------*/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 1.2rem;
  background: rgba(30, 41, 59, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  backdrop-filter: blur(3px);
}

.popup-content {
  background: #ffffff;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  max-width: 45rem;
  width: 95%;
  max-height: 85vh;
  overflow-y: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  border: 2px solid #4629ba;
}

.popup-content h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #402c8f;
  margin-bottom: 1rem;
  text-align: center;
  overflow-wrap: break-word;
  white-space: normal;
}

.popup-content ul {
  list-style: none;
  padding: 0;
}

.popup-content li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1rem;
  margin-bottom: 1rem;
  background-color: #f4f2fd;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #4629ba;
  font-size: 1rem;
  word-wrap: break-word; 
}

.popup-content li div {
  overflow-wrap: break-word;
  white-space: normal;
}


.popup-content li b {
  color: #0f172a;
}

.close-popup {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0daf7;
  border: 1px solid #4629ba;
  border-radius: 9999px;
  color: #4629ba;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.close-popup:hover {
  background-color: #a492ec;
  color: white;
  transform: scale(1.05);
}


.popup-content .mt-4 {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-top: 1rem;
}

/*--------------------------------------------------------------------------------------*/
/*Formularios*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding-top: 90px; 
  z-index: 99;
  animation: fadeIn 0.4s ease-out;
  backdrop-filter: blur(1px);
}

.instructions-button {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  /*font-family: 'Georgia', 'Times New Roman', serif;*/
  border: 2px solid #4629ba;
  width: 95%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

.modal h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #5625aa;
  text-align: center;
}
/*-----------------------------*/

.select-container-d {
  margin-bottom: 1rem;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
  grid-column: span 2;
}

/*------------- Para el select de formulario de creación y edición -----------------*/

.select-container .day-select2 {
  padding: 1rem 1rem;
}

/*------------------------------*/

.modal .time-inputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.modal .time-inputs input {
  width: 48%;
}

.modal-buttons-download {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.modal-buttons button {
  padding: 12px 12px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
  width: 95%;
}

.modal-buttons .cancel-button {
  background-color: #ff4d4d; 
}

.modal-buttons .cancel-button:hover {
  background-color: #e60000; 
}

.modal-buttons .cancel-button:active {
  transform: translateY(0);
}

.modal-buttons .submit-button {
  background-color: #66b3ff; 
}

.modal-buttons .submit-button:hover {
  background-color: #3388cc; 
}

.modal-buttons .submit-button:active {
  transform: translateY(0);
}

.save-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #d79f05;
}

.save-button.disabled:hover{
  background-color: #6f5101;
}

.save-button {
  background-color: #4629ba; 
}

.save-button:hover {
  background-color: #593ccd; 
}

.save-button:active {
  transform: translateY(0);
}

.custom-shadow-border {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  border: 3px solid #4629ba;
}

.custom-shadow-crud {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/*-----------------------------------------*/

.lupa-button{
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.lupa-button:hover {
  transform: scale(1.2); 
}

/* src/components/LoginLogoutButton.css */

.logout-button:hover {
  transform: scale(1.2);
}

.logout-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.dropdown-menu {
  min-width: 10rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  font-size: 1rem;
  z-index: 9999;
}

.config-button:hover {
  transform: scale(1.2);
}

.config-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}


/*------------------------------------------------------*/

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes modalSlideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@media print {
  th[class^="print-col-"],
  td[class^="print-col-"] {
    display: none;
  }

  
  .print-page-1 th.print-col-0,
  .print-page-1 td.print-col-0
  {
    display: table-cell;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none !important;
  }
}


@media (max-width: 1550px) {
  .selects-container-responsive {
    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0 1rem;
    gap: 1rem;
    margin-top: 1.1rem;
    margin-bottom: 0rem;
    padding-bottom: 0.3rem;
    align-items: center;
  }

  .select-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: nowrap;
  }

  .select-responsive {
    min-width: max-content;
    margin-left: 0;
    flex-shrink: 0;
  }

  .selects-container-responsive > div {
    flex-shrink: 0;
  }
  .selects-container-responsive::-webkit-scrollbar {
    height: 8px; 
  }
  .selects-container-responsive::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.9); 
    border-radius: 4px;
  }
  .span-info {
    display: none;
  }
}

@media (max-width: 1550px) and (orientation: landscape){
  .selects-container-responsive {
    margin-top: 1.4rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0rem;
  }
}

@media (max-width: 1143px) {
  .delete-button-buildings {
    margin-top: 0.2rem;
  }
}

@media (min-width: 768px) and (max-width: 1143px) {
  .selects-container-responsive {
    margin-top: 1.3rem;
  }
}


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}


input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}


input[type="password"] {
  appearance: none;
  -webkit-appearance: none;
}

@media (max-width: 640px) and (orientation: portrait) {
  .background-image-container::before {
    background-image: none;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .schedule-table thead tr:first-child th { 
    height: 5rem; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .schedule-table th:first-child,
  .schedule-table td:first-child { 
    width: 8rem !important;
    min-width: 8rem !important;
    max-width: 8rem !important;
  }
}


.background-Selects{
  background: linear-gradient(to right, #572531, #301848, #0a152d, #0e1e40, #132654, #1c3a7d, #254da7);
}

.background-button1 {
  background-color: #A12D4A;
  transition: background-color 0.3s ease;
}
.background-button1:hover {
  background-color: #d73465; 
}

.background-button1-N {
  background-color: #a7566a;
  transition: background-color 0.3s ease;
}

.background-button2 {
  background-color: #7A30A9;
  transition: background-color 0.3s ease;
}
.background-button2:hover {
  background-color: #a534d6; 
}

.background-button3 {
  background-color: #4629ba;
  transition: background-color 0.3s ease;
}
.background-button3:hover {
  background-color: #6a50d2; 
}

.background-button3-N {
  background-color: #8171c0;
  transition: background-color 0.3s ease;
}

.background-button4 {
  background-color: #1A7D61;
  transition: background-color 0.3s ease;
}
.background-button4:hover {
  background-color: #289c75; 
}

.background-button5 {
  background-color: #172649;
  transition: background-color 0.3s ease;
}
.background-button5:hover {
  background-color: #1f3362; 
}

.background-buttonS {
  background-color: #c8c2df;
  transition: background-color 0.3s ease;
}
.background-buttonS:hover {
  background-color: #aaa6b8;
}

.background-button6 {
  background-color: #d83f65;
  transition: background-color 0.3s ease;
}

.background-button6:hover {
  background-color: #ba3758;
}